.infobar-container{
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}
.left-container{
    width: 50%;
}
.left-container .room-name{
    margin-left: -20%;
}
.right-container{
    width: 50%;
}
.right-container  p{
    float: right;
    margin-right: 50px;
    background-color: aliceblue;
    width: fit-content;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px 5px 5px 5px;
}